*.ilk
*.pdb
*.suo
*.obj
*.log
*.tlog
.metadata/
.recommenders/
.settings/
Debug/
bin/
.class
.classpath
.project
*.vcxproj
*.filter
*.filters
*.sln
*.pyc
*.opensdf
*.sdf
C++/Practice_pad/Practice_pad.sdf
*.sdf
