*.db
*.ilk
*.log
*.pdb
*.obj
*.pyc
*.sdf
*.sln
*.suo
*.ipch
*.tlog
*.user
*.class
*.filter
*.opendb
*.filters
*.opensdf
*.project
*.vcxproj
*.classpath
.vs/
bin/
Debug/
packages/
.metadata/
.settings/
.recommenders/






*.config
C++/Practice_pad/Practice_pad.sdf
C++/Practice_pad/Practice_pad/ReadMe.txt
*.exe
*.pch
*.CopyComplete
